

<p> Welcome <%= session[:character_name] %>! You will be playing against <%= session[:opponent_name] %>!</p>


<h3> Select Rock, Paper, or Scissors </h3>

<form action="/game/player_selection" method="post">
       <div class="form-inline">
        <div class="player_choices">
           <label class="radio">
               <input value="rock" type="radio" name="player_selection">Rock
           </label>
           <label class="radio">
               <input value="paper" type="radio" name="player_selection">Paper
           </label>
           <label class="radio">
               <input value="scissors" type="radio" name="player_selection">Scissors
           </label>
         </div>
       </div>
     </br>
   <input type="submit" class="btn" />
   </form>




