

<p> You chose <%= session[:player_selection] %>! The opponent chose <%= session[:opponent_selection] %> </p>
<% if @play_again %>
<p>
  <strong> Play again? </strong>
  <a href="/game" class="btn btn-primary"> Yes </a>
  <a href="/game_over" class="btn btn-primary"> No </a>
</p>
<% end %>







