<h3> Who do you want to be? </h3>
<form action="/players" method="post">
       <div class="form-inline">
        <div class="character_choices">
           <label class="radio">
               <input value="character_1" type="radio" name="character_name">Character 1
           </label>
           <label class="radio">
               <input value="character_2" type="radio" name="character_name">Character 2
           </label>
           <label class="radio">
               <input value="character_3" type="radio" name="character_name">Character 3
           </label>
           <label class="radio">
               <input value="character_4" type="radio" name="character_name">Character 4
           </label>
         </div>
       </div>

      <h3> Who do you want to play against? </h3>
       <div class="form-inline">
        <div class="opponent_choices">
           <label class="radio">
               <input value="opponent_1" type="radio" name="opponent_name">Opponent 1
           </label>
           <label class="radio">
               <input value="opponent_2" type="radio" name="opponent_name">Opponent 2
           </label>
           <label class="radio">
               <input value="opponent_3" type="radio" name="opponent_name">Opponent 3
           </label>
           <label class="radio">
               <input value="opponent_4" type="radio" name="opponent_name">Opponent 4
           </label>
         </div>
       </div>







     </br>
   <input type="submit" class="btn" />
   </form>