
 <div class="container">

<div class="row">
  <div  class="col-md-8 col-md-offset-2">
<h2 class="bet"> Bye! Thanks for playing! </h2>
<h4 class="text-warning">
<%= session[:player_name] %>, maybe it's time to hit up Vegas? 
  
</h4>


</div>

</div>

</div>

