<div class="container">
<div class="row">
  <div  class="col-md-10 col-md-offset-1">
<p class="intro">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lorem massa, luctus ac elementum non, egestas a tellus. Donec at aliquet mi. Nam condimentum, odio a efficitur mollis, quam orci mattis turpis, et consequat orci eros eu erat. Donec porta posuere ante in euismod. Nulla facilisi. Aliquam eleifend consequat dictum. Etiam imperdiet felis non varius tempus. Sed finibus, eros nec faucibus lacinia, ipsum odio posuere justo, sed pretium dolor nisl molestie augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi ullamcorper metus sapien, ut tristique magna pretium eget.

  Aliquam ex magna, tempus id mollis ut, convallis et augue. Nam sed maximus magna. Pellentesque ut pharetra est. In urna dui, cursus vitae pretium quis, ultricies mollis sapien. Phasellus vitae erat malesuada, tempor ligula laoreet, accumsan sem. Nullam quis ultricies nisi, ut aliquet erat. Aenean dignissim, purus id vestibulum ultricies, elit dolor tempor orci, ac venenatis lorem libero in est. 

</p>

<h4 class="text-warning"> <strong></strong></h4>

</div>

</div>



<div class="row">
  <div style="text-align:center" class="col-md-12">
  

  <form class="form-inline" role="form" action="/new_player" method="post">
  <div class="form-group">
      <div class="input-group">
        <label class="sr-only" for="player_name"> Name </label>
        <div class="input-group-addon">Name:</div> 
        <input class="form-control" type="text" name="player_name" placeholder="Enter your Name" required>

     
      </div>
    </div>

   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 
  </div>
</div>
</div>
