

<div class="container">
<div class="row">
<div class="col-sm-6 col-md-offset-3">
<div class="row">
<div class="col-sm-6">

</div>

<div class="col-sm-6">

</div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-6 col-md-offset-3">
  </div>
</div>
</div>




<% if @play_again %>
<p>
  <strong> Play again? </strong>
  <a href="/game" class="btn btn-primary"> Yes </a>
  <a href="/game_over" class="btn btn-primary"> No </a>
</p>
<% end %>







