<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h3> Select a Player </h3>
<form class="form-inline" role="form" action="/players" method="post">
 <div class="radio">
  <label>
    <input type="radio" name="character_name" value="Bugs Bunny" checked>
    <img src="/images/bugs_bunny.jpg"/>
  </label>

  <span class="help-block">Bugs Bunny</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="character_name" value="Road Runner">
    <img src="/images/road_runner.jpg"/>
  </label>


  <span class="help-block">Road Runner</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="character_name" value="Tweety Bird">
    <img src="/images/tweety.jpg"/>
  </label>
  <span class="help-block">Tweety Bird</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="character_name" value="Porky Pig">
    <img src="/images/porky_pig.jpg"/>
  </label>
  <span class="help-block">Porky Pig</span>
</div>


<h3> Select an Opponent </h3>
 <div class="radio">
  <label>
    <input type="radio" name="opponent_name" value="Elmer Fudd" checked>
    <img src="/images/elmer_fudd.jpg"/>
  </label>
  <span class="help-block">Elmer Fudd</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="opponent_name" value="Wile E. Coyote">
    <img src="/images/coyote.jpg"/>
  </label>
  <span class="help-block">Wile E. Coyote</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="opponent_name" value="Sylvester the Cat">
    <img src="/images/sylvester.jpg"/>
  </label>
  <span class="help-block">Sylvester the Cat</span>
</div>
<div class="radio">
  <label>
    <input type="radio" name="opponent_name" value="Daffy Duck">
    <img src="/images/daffy_duck.jpg"/>
  </label>
  <span class="help-block">Daffy Duck</span>
</div>


<div class="clearfix"></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
</div>
